<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading"><%= link_to room.name, room_path(room) %></div>
</div>
<p class="room-body">
 <%= link_to room.hotel, room.link %> Seats: <%= 'min: ' + room.min.to_s + ' max: ' + room.max.to_s %><br>
 <%= hidden_field_tag :room_lat, room.lat %>
 <%= hidden_field_tag :room_lon, room.lon %>
</p>
<hr>
