<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading"><h4><%= link_to room.name, room_path(room) %></h4></div>
</div>
<p class="room-body">
 <%= link_to room.hotel, room.link %> Seats: <%= 'min: ' + room.min.to_s + ' max: ' + room.max.to_s %><br>
 <%= hidden_field_tag :room_lat, room.lat %>
 <%= hidden_field_tag :room_lon, room.lon %>
 <%= image_tag room.img_url, class: 'img-responsive' %>
 <% facilities =  room.facilities.map {|a| Facility.find(a.id) } %>
 <% facilities.each do |f| %>
    <%= f.name %>
  <% end %>
</p>
<hr>
