<div class="navbar navbar-custom navbar-fixed-top">
 <div class="navbar-header"><%= link_to 'Cluj Mapping', root_path, class: "navbar-brand" %>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Home', root_path %> </li>
        <li class="active"><%= link_to 'All Halls', rooms_url %> </li>
        <li>&nbsp;</li>
      </ul>
      <!-- <form class="navbar-form">
        <div class="form-group" style="display:inline;">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="ex: 100 seats"> -->
            <%= form_tag rooms_path, method: :get, class: "navbar-form" do %>
              <%= text_field_tag :search,nil, placeholder: "ex: 30 seats" %>
            <%= submit_tag "Search", class: 'btn btn-default btn-rimary' %>
            <% end %>
            <!-- <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span> </span> -->
          <!-- </div>
        </div> -->
      <!-- </form> -->
    </div>
  </div>
