<!DOCTYPE html>
<html>
  <head>
    <title>ClujMapping</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  </head>
  <body>
    <%= render 'layouts/header' %>

    <%= render 'layouts/map' %>
    <div class="container-fluid" id="main">
      <div class="row">
      	<div class="col-xs-4" id="left">
        <h2>Cluj EventHalls Mapping</h2>
        <%= yield %>
        <div class="col-xs-4"><!--map-canvas will be postioned here--></div>

      </div>
    </div>

    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
